body {
    padding: 100px 0px 0px 0px;
    background-color: #E1F5FE;
}
  
.navbar-dark {
    background-color: #0091EA; 
}

.modal-header {
    background: #40C4FF;
    color: floralwhite; 
}

.modal-header button {
    color: floralwhite; 
}

.modal-body {
    background: #80D8FF; 
}

.dropdown-menu {
    background-color: #40C4FF;
}

.dropdown {
    list-style:none;
    position:relative;
    float:left;
}

.dropdown-menu a:hover {
    background-color: #80D8FF;
}

#card-form {
    margin: 20px;
}

#card-form {
    background-color: #E1F5FE;
}

#q-card {
    background-color:rgb(250, 245, 245);
}

#q-card > h3 {
    color: blue;
}
