<!DOCTYPE html>
<html>
    <head>
        <%-include("../partials/head.ejs")%>          
    </head>

    <body>
        <%-include("../partials/navbar.ejs", { username })%>
        
        <div class="text-center">
            <header>
                <h1>Welcome to StackOverflow</h1>
            </header>
        </div>

        <div class="text-center">
            <form id="search" action="/search" method="post">    
                <label for="search">Search the site:</label>
                <input type="search" id="search" name="q">           
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

    </body>   
    
    <%-include("../partials/scripts.ejs")%>   
</html>
