<!DOCTYPE html>
<html>
    <head>
        <%-include("../partials/head.ejs")%>          
    </head>

    <body>
        <%-include("../partials/navbar.ejs", { username })%>

        <div class="text-center">
            <header>
                <h1>Welcome to StackOverflow</h1>
            </header>
        </div>

    </body>   
    
    <%-include("../partials/scripts.ejs")%>   
</html>
