<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        
        <title>Stack Overflow</title>    
    </head>

    <body>
        <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
            <div class="container">
                
                <!-- Collapsable Navbar for smaller screens-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
                    </ul>
                    <span class="navbar-text ml-auto">
                        <% if (username) { %>
                            <a>
                                <span class="fa fa-user col-sm-2"></span> <%= username %>
                            </a>
                            <a href="/logout">
                                <span class="fa fa-sign-out col-sm-2"></span> Logout
                            </a>
                        <% } else { %>
                            <a id="signupbtn">
                                <span class="fa fa-user col-sm-2"></span> Sign Up
                            </a>
                            <a href="loginbtn">
                                <span class="fa fa-sign-in col-sm-2"></span> Login
                            </a>
                            <a href="verifybtn">
                                <span class="fa fa-check col-sm-2"></span> Verify
                            </a>
                        <% } %>
                    </span>
                </div>   
            </div>
        </nav>

        <div id="signupModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-m" role="content">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class='col-11 modal-title text-center'>Sign Up</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <form id="signup" action="" method="post">                                   
                            <div>
                                <label for="email">Email</label>
                                <div>
                                    <input type="text" id="email" name="email">
                                </div> 
                            </div>            
                            
                            <div>
                                <label for="username">Username</label>
                                <div>
                                    <input type="text" id="username" name="username">
                                </div> 
                            </div>
                
                            <div>
                                <label for="password">Password</label>
                                <div>
                                    <input type="password" id="password" name="password">
                                </div> 
                            </div>                   

                            <div class="form-row">                               
                                <button type="submit" class="btn btn-primary btn-sm ml-auto">Sign Up</button>        
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>

        <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-m" role="content">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class='col-11 modal-title text-center'>Login</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <form id="login" action="" method="post">                                  
                            <div>
                                <label for="username">Username</label>
                                <div>
                                    <input type="text" id="username" name="username">
                                </div> 
                            </div>
                
                            <div>
                                <label for="password">Password</label>
                                <div>
                                    <input type="password" id="password" name="password">
                                </div> 
                            </div>

                            <div class="form-row">                               
                                <button type="submit" class="btn btn-primary btn-sm ml-auto">Login</button>        
                            </div>
                        </form>   
                    </div>
                </div>
            </div>
        </div>

        <div id="verifyModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-m" role="content">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class='col-11 modal-title text-center'>Verify</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <form id="verify" action="" method="post">                                  
                            <div>
                                <label for="email">Email</label>
                                <div>
                                    <input type="text" id="email" name="email">
                                </div> 
                            </div>            
                            
                            <div>
                                <label for="key">Key</label>
                                <div>
                                    <input type="text" id="key" name="key">
                                </div> 
                            </div>

                            <div class="form-row">                               
                                <button type="submit" class="btn btn-primary btn-sm ml-auto">Verify</button>        
                            </div>
                        </form>   
                    </div>
                </div>
            </div>
        </div>

    </body>
    
    <script src='../../node_modules/jquery/dist/jquery.min.js'></script>
    <script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='../../controllers/form_controller.js'></script> 
</html>
