<!DOCTYPE html>
<html>
    <head>
        <%-include("../partials/head.ejs")%>          
    </head>

    <body>
        <%-include("../partials/navbar.ejs", { username })%>

        <div class="text-center">
            <header>
                <h1>Welcome to StackOverflow</h1>
            </header>
        </div>

        <div class="mt-2 col-md-12">
            <label for="search">Search the site:</label>
            <input type="search" id="search" name="q">           
            <button>Search</button>
        </div>

    </body>   
    
    <%-include("../partials/scripts.ejs")%>   
</html>
