<!DOCTYPE html>
<html>
    <head>
        <% include("./partials/head.ejs")%>          
    </head>

    <body>
        <%-include("./partials/navbar.ejs", { username })%>

        <div class="text-center">
            <header>
                <h1>Welcome to Digital Market</h1>
            </header>
            <header>
                <h3>Purchase Items</h3>
            </header>  
            <a href="/items">
                <button>Show available items to purchase</button>
            </a>
        </div>

    </body>   
    
    <% include("./partials/scripts.ejs")%>   
</html>
